<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.6"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.correttouml.org/grammars/StateMachineTriggers" 
       class = "org.correttouml.grammars.stateMachineTriggers.StateMachineTriggersPackage"
       genModel = "org/correttouml/grammars/StateMachineTriggers.genmodel" /> 
	
  </extension>




</plugin>
